* { margin: 0;
padding: 0;}

body {
    height: 100vh;
  
  }

header{
    height: 20vh;
}
main{
    height: 60vh;
}
footer{
    height: 20vh;
}

li{ list-style-type: none;}

img{ 
    width: 110px;
    height: 110px;
}
main {   
    background-image: url(../assets/images/Ovillos\ de\ lana.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* div{ 
    border: 1px solid black;
} */